* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* #region header  */
header {
    width: 100%;
    /* debug  */
    height: 70px;
    /* debug  */
    background-color: #0084fd;
}

.nav-bar {
    /* debug  */
    height: 70px;
    /* debug  */
    color: white;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-left {
    width: 15%;
}

.nav-bar .nav-right {
    width: 30%;
    display: flex;
    justify-content: space-between;
}



.fa-solid.fa-bars {
    display: none;
}
/* #endregion header  */



/* #region main */
/* prima sezione bianca  */

.container {
    /* debug  */
    height: 715px;
    /* debug  */
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.container .box {
    width: calc((100% / 3) - 50px);
    background: #b5ddff;
    border-radius: 20px;
    flex-grow: 1;
    text-align: center;
}

.container .box.grande {
    width: calc((100% / 3 * 2) - 50px);
    flex-grow: 2;
    text-align: center;
}
/* /prima sezione bianca  */


/* sezione viola  */
section.viola {
    /* debug  */
    /* height: 900px; */
    /* debug  */
    background: #9792e4;
}

.container.viola {
    /* debug  */
    height: 900px;
    /* debug  */
    width: 60%;
    margin: auto;
    text-align: center;
    gap: 0;
}

.container.viola .left, .container.viola .right{
    /* debug  */
    border: 1px dashed black;
    /* /debug  */
    display: inline-block;
    width: 50%;
}
/* /sezione viola  */


/* seconda sezione bianca */
.bianca.seconda {
    /* debug  */
    height: 1000px;
    /* debug */
}
.container.testimonials {
    /* debug  */
    height: 1000px;
    /* debug  */
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    display: block;
    text-align: center;
}

.box-largo {
    margin: 20px 0 20px 0;
}

.box-largo.violet {
    height: 270px;
    background: #9792e4;
    border-radius: 20px;
}
/* /seconda sezione bianca  */



/* seconda sezione viola  */
.container {
    /* debug  */
    height: 715px;
    /* debug  */
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.viola .container .box {
    width: calc((100% / 3) - 50px);
    background: white;
    border-radius: 20px;
    text-align: center;
}

.viola {
    text-align: center;
}

/* /seconda sezione viola  */

/* #endregion main  */



/* #region footer  */

/* #endregion footer  */




/* responsive tablet  */

@media screen and (max-width:992px){
    body {
        max-width: 992px;
    }


    /* header  */
    .nav-bar {
        width: 95%;
        position: relative;
        font-size: 1.5rem;
    }


    .fa-solid.fa-bars {
        display: block;
        position: absolute;
        bottom: 25px;
        right: 0;
        
    }

    .nav-right .menu {
        display: none;
    }
    /* /header  */



    /* main  */
    /* prima sezione bianca  */ 
    .container {
        width: 95%;
    }
    /* /prima sezione bianca  */



    /* sezione viola  */
    .container.viola {
        /* debug  */
        /* height: 900px; */
        /* debug  */
        width: 90%;
    }

    .container.viola .left, .container.viola .right{
        /* debug  */
        /* /debug  */
        display: block;
        width: 100%;
    }
    /* /sezione viola  */



    /* seconda sezione bianca  */
    .container.testimonials {
        /* debug  */
        /* height: 715px; */
        /* debug  */
        width: 90%;
    }
    /* /seconda sezione bianca  */


    /* seconda sezione viola  */
    .viola .container {
        /* debug  */
        height: 915px;
        /* debug  */
        width: 90%;
        padding-bottom: 100px;
        margin-bottom: 0;
    }

    .viola .container.viola2 .box {
        width: calc((100% / 2) - 50px);
    }

    .viola {
        text-align: center;
    }

    /* /seconda sezione viola  */

        /* /main  */

    }

/* /responsive tablet  */








/* responsive mobile  */
@media screen and (max-width:768px){
    body {
        max-width: 768px;
    }

    /* header  */
    .nav-bar {
        width: 90%;
        position: relative;
        font-size: 2rem;
    }


    .fa-solid.fa-bars {
        display: block;
        position: absolute;
        bottom: 20px;
        right: 0;
    }

    .nav-right .menu {
        display: none;
    }
    /* /header  */


    /* main  */
    /* prima sezione bianca  */
    section.bianca .container {
        /* debug  */
        height: 2075px;
        /* /debug  */
        width: 90%;
        display: block;
    }

    .container .box {
        height: 350px;
        width: 100%;
        margin-bottom: 20px;
    }

    .container .box.grande {
        height: 600px;
        width: 100%;
    }
    /* /prima sezione bianca  */

    

    /* sezione viola  */
    .container.viola {
        /* debug  */
        /* height: 900px; */
        /* debug  */
        width: 90%;
    }

    .container.viola .left, .container.viola .right{
        /* debug  */
        /* /debug  */
        display: block;
        width: 100%;
    }
    /* /sezione viola  */



     /* seconda sezione bianca  */
     .bianca.seconda {
        /* height: 1000px; */
     }
     .container.testimonials {
        /* debug  */
        /* height: 1000px; */
        /* debug  */
        width: 90%;
    }
    /* /seconda sezione bianca  */


    /* seconda sezione viola  */
    .viola .container.viola2 {
        /* debug  */
        height: 2300px;
        /* debug  */
        width: 90%;
        padding-bottom: 100px;
        margin-bottom: 0;
        display: block;
        margin: 0 auto;
    }

    .viola .container.viola2 .box {
        width: 100%;
    }

    /* .viola {
        text-align: center;
    } */

    /* /seconda sezione viola  */

    /* /main  */
}
/* /responsive mobile  */
