* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}


a {
    text-decoration: none;
    color: white;
}
/* #region header  */
header {
    width: 100%;
    background-color: #0084fd;
}

.nav-bar {
    color: white;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3125rem 0 .3125rem 0;
}

.nav-bar .nav-left {
    width: 15%;
}

.nav-bar .nav-right {
    min-width: 400px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button.menu {
    padding: 5px;
    border: none;
    border-radius: 15px;
    background: white;
}

.button.menu a {
    color: black;
}

.fa-solid.fa-bars {
    display: none;
}
/* #endregion header  */



/* #region main */
/* prima sezione bianca  */

.container {
    max-width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.container .box {
    width: calc((100% / 3) - 50px);
    background: #b5ddff;
    border-radius: 20px;
    flex-grow: 1;
    text-align: center;
    padding: 1.875rem 1.25rem 0 1.25rem;
}

.container .box.grande {
    width: calc((100% / 3 * 2) - 50px);
    flex-grow: 2;
    text-align: center;
    display: flex;
    align-items: stretch;
}

.box.grande .left {
    width: 50%;
    text-align: left;
}

.box.grande .right {
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.box.grande .right img{
    max-width: 250px;
}

.box.grande .left h4 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #0084fd;
    padding-bottom: 1.25rem;
}

.box.grande .left p {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.875rem;
    margin: .3125rem 0 .3125rem 0;
}

.button.blue {
    width: 10.625rem;
    padding: 10px 35px;
    display: flex;
    gap: 5px;
    border: none;
    border-radius: 20px;
    background: #0084fd;
    color: white;
    margin-bottom: 40px;
    font-size: .875rem;
    letter-spacing: 2px;
}


.bianca .container .box i {
    font-size: 3.4375rem;
    color: #0084fd;
}

.button.blue i.fa-brands.fa-apple {
    color: white;
    font-size: .875rem;
}

.bianca .container .box h4.pad {
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #0084fd;
    padding-bottom: 1.5625rem;
    padding-top: 1.5625rem;
}

.bianca .container .box p {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.875rem;
    padding-bottom: 1.5625rem;
}
/* /prima sezione bianca  */


/* prima sezione viola  */
section.viola {
    background: #9792e4;
}

.container.viola {
    max-width: 60%;
    margin: auto;
    padding-bottom: 60px;
    display: flex;
    gap: 40px;
}

.container.viola .left {
    display: inline-block;
    width: 50%;
}

.container.viola .right {
    width: 42%;
    display: inline-block;
    position: relative;
}

.viola .container.viola .left {
    text-align: left;
}

.viola .container.viola .left h4 {
    color: white;
    font-size: 34px;
    padding: 100px 0 40px 0;
}

.viola .container.viola .left p {
    color: white;
    font-size: 16px;
    line-height: 27px;
}

.plan1 img {
    padding-top: 5rem;
    width: 100%;
}

.right .container-piccolo {
    width: 100%;
    background: white;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-piccolo .plan2 img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.container-piccolo h4 {
    font-size: 1.5rem;
    padding: 1.25rem 0 1.25rem 0;
}

.container-piccolo p {
    font-size: 1.125rem;
    line-height: 2.1875rem;
    font-style: italic;
    padding-bottom: 30px;
}

.right .tondo-viola {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vw;
    background: #9792e4;
    border-radius: 50%;
}


/* /prima sezione viola  */


/* seconda sezione bianca */
.container.testimonials {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    display: block;
    text-align: center;
}

.box-largo {
    margin: 25px;
}

.box-largo.violet {
    background: #9792e4;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0 20px 20px;
}

.container.testimonials .box-largo h5 {
    font-size: 1.25rem;
}

.container.testimonials .box-largo h3 {
    color: #9792e4;
    font-size: 3rem;
}

.container.testimonials .box-largo p {
    font-size: 1.125rem;
}

.imgn-pers {
    width: 12vw;
    height: 12vw;
    /* border-radius: 50%;
    overflow: hidden;
    position: relative; */
}

.imgn-pers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.info-pers {
    width: 75%;
    text-align: left;
    margin: 0 auto;
}

.info-pers p {
    padding-top: 1.5625rem;
    padding-bottom: .9375rem;
    color: white;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.info-pers h5 {
    color: white;
}

/* /seconda sezione bianca  */



/* seconda sezione viola  */
.ambrogio {
    padding-top: 3.125rem;
}

.ambrogio h2 {
    color: white;
    font-size: 2rem;
}

.container.viola2 {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.viola .container.viola2 .box {
    width: calc((100% / 3) - 50px);
    background: white;
    border-radius: 20px;
    text-align: left;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.viola {
    text-align: center;
}

.viola .container.viola2 .box h2, .viola .container.viola2 .box h4 {
    color: #9792e4;
    padding-bottom: 15px;
}

.container.viola2 .box p {
    padding-bottom: 25px;
    font-size: 15px;
    line-height: 25px;
}

.viola .container.viola2 .box h2 {
    font-size: 45px;
}

button.more {
    color: white;
    background:#9792e4;
    border-radius: 20px;
    padding: 10px 0;
    width: 140px;
    border: 0;
}

/* /seconda sezione viola  */


/* terza sezione bianca  */
section.about .container-about {
    width: 70%;
    margin: 0 auto;
    /* text-align: left; */
    /* height: 400px; */
    padding: 80px 0 100px 0;
    display: flex;
}

section.about .container-about .left, section.about .container-about .right {
    /* display: inline-block; */
    /* border: 1px dashed black; */
    /* height: 100%; */
    /* padding: 0 70px; */
}

section.about .container-about .left {
    width: 70%;
}

section.about .container-about .right {
    width: 30%;
    display: flex;
    flex-direction: column;
}

section.about .container-about .left h2{
    color: #9792e4;
    font-size: 45px;
    padding-bottom: 40px;
}


section.about .container-about .left :nth-child(2){
    padding-bottom: 45px;
}

section.about .container-about .left p {
    margin-right: 100px;
    line-height: 30px;
}

button.linkedin {
    background-color: #9792e4;
    border: 0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    width: 150px;
}

section.about .container-about .right h4{
    color: #9792e4;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
}

.cont-img-virgolette {
    width: 60%;
    /* background: yellow; */
    /* height: 300px; */
    padding-bottom: 20px;
    position: relative;
}

.img-cosimo {
    /* background: red; */
    width: 100%;
    /* height: 20%; */
    /* object-fit: contain; */
    border-radius: 50%;
    overflow: hidden;
    /* display: block; */
}

.img-cosimo img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.cont-img-virgolette i.fa-solid.fa-quote-left {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: #9792e4;
}
/* /terza sezione bianca  */

/* #endregion main  */



/* #region footer  */

/* #endregion footer  */



/* ++++++++++++++++++++++++++++++++++++++++++++  */
/* responsive tablet  */

@media screen and (max-width:992px){
    body {
        max-width: 992px;
    }


    /* header  */
    .nav-bar {
        width: 95%;
        position: relative;
        font-size: 1.5rem;
    }


    .fa-solid.fa-bars {
        display: block;
        position: absolute;
        bottom: 1.25rem;
        right: 0;
        
    }

    .nav-right .menu {
        display: none;
    }
    /* /header  */



    /* main  */
    /* prima sezione bianca  */ 
    .container {
        max-width: 95%;
    }

    .box.grande .left {
        width: 100%;
    }

    .box.grande .right {
        width: 90%;
        justify-content: start;
    }

    .container .box.grande {
        flex-wrap: wrap;
    }
    
    /* /prima sezione bianca  */



    /* sezione viola  */
    .container.viola {
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }

    .container.viola .left, .container.viola .right{
        display: block;
        width: 100%;
    } 

    .viola .container.viola .left {
        text-align: center;
    }

    .viola .container.viola .left h4, .viola .container.viola .left p {
        text-align: left;
    }

    .viola .container.viola .left h4 {
        font-size: 3.75rem;
    }

    .left .plan1 img {
        width: 80%;
    }

    .container-piccolo .plan2 img {
        width: 80%;
    }

    .container.viola .right {
        position: static;
        display: flex;
        flex-direction: column;
    }

    .right .container-piccolo {
        position: static;
        transform: none;
        border-radius: 70px;
    }

    /* /sezione viola  */



    /* seconda sezione bianca  */
    .container.testimonials {
        width: 90%;
    }
    /* /seconda sezione bianca  */


    /* seconda sezione viola  */
    .viola .container {
        /* debug  */
        /* height: 915px; */
        /* debug  */
        width: 90%;
        padding-bottom: 100px;
        margin-bottom: 0;
    }

    .viola .container.viola2 .box {
        width: calc((100% / 2) - 50px);
    }

    .viola {
        text-align: center;
    }

    /* /seconda sezione viola  */


    /* terza sezione bianca  */
    section.about .container-about {
        width: 90%;
    }
    /* /terza sezione bianca  */

    /* /main  */

    }

/* /responsive tablet  */






/* +++++++++++++++++++++++++++++++++++++++++++  */

/* responsive mobile  */
@media screen and (max-width:768px){
    body {
        max-width: 768px;
    }

    /* header  */
    .nav-bar {
        width: 80%;
        position: relative;
        font-size: 2rem;
    }


    .fa-solid.fa-bars {
        display: block;
        position: absolute;
        bottom: .9375rem;
        right: 0;
    }

    .nav-right .menu {
        display: none;
    }
    /* /header  */


    /* main  */
    /* prima sezione bianca  */
    section.bianca .container {
        width: 80%;
        display: flex;
    }

    .container .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .container .box.grande {
        width: 100%;
    }

    .box.grande .right {
        max-width: 65%;
        display: flex;
        align-content: center;
        /* align-items: stretch; */
    }

    .box.grande .left h4 {
        font-size: 2.1875rem;
    }

    .box.grande .left p {
        font-size: 1.375rem;
        line-height: 2.5rem;
    }


    /* /prima sezione bianca  */

    

    /* sezione viola  */
    .container.viola {
        /* debug  */
        /* height: 900px; */
        /* debug  */
        width: 90%;
    }

    .container.viola .left, .container.viola .right{
        /* debug  */
        /* /debug  */
        display: block;
        width: 100%;
    }

    .viola .container.viola .left {
        text-align: center;
    }
    /* /sezione viola  */



     /* seconda sezione bianca  */
     .bianca.seconda {
        /* height: 1000px; */
     }
     .container.testimonials {
        /* debug  */
        /* height: 1000px; */
        /* debug  */
        width: 90%;
    }
    /* /seconda sezione bianca  */


    /* seconda sezione viola  */
    .viola .container.viola2 {
        /* debug  */
        /* height: 2300px; */
        /* debug  */
        width: 90%;
        padding-bottom: 60px;
        margin-bottom: 0;
        display: block;
        margin: 0 auto;
    }

    .viola .container.viola2 .box {
        width: 100%;
    }
    /* /seconda sezione viola  */



    /* terza sezione bianca  */
    section.about .container-about {
        width: 90%;
        display: block;
    }

    section.about .container-about .left p {
        margin-right: 0;
    }

    section.about .container-about .left, section.about .container-about .right {
        display: block;
        /* border: 1px dashed black; */
        width: 100%;
    }

    /* /terza sezione bianca  */

    /* /main  */
}
/* /responsive mobile  */
